<!--
    Title: Exercise 8.2 - Server-side Communications
    Instructor: Professor Krasso
    Author: Brooke Taylor
    Date: 7/11/23
    Revision: 5/15/25

    Description: Wishlist Component
-->

<div fxLayout="column">

<!--
  Update the <app-wishlist-create> component by adding the “addItemEmitter”
  as an event and passing-in the updateItemsHandler function
-->
  <app-wishlist-create fxFlex (addItemEmitter)="updateItemsHandler($event)"></app-wishlist-create>

  <button mat-button color="warn" (click)="clearWishlist()" *ngIf="items.length">
  Clear Wishlist
</button>


  <br /><br />

  <div>

<div fxLayout="row wrap" fxLayoutGap="16px" *ngIf="items && items.length > 0">
  <mat-card *ngFor="let item of items" style="width: 250px;">
    <mat-card-title>{{ item.title }}</mat-card-title>
    <mat-card-subtitle>{{ item.authors }}</mat-card-subtitle>
  </mat-card>
</div>

<div *ngIf="!items || items.length === 0">
  <h2 style="text-align: center;">Your wishlist is empty</h2>
</div>


    <div fxFlex *ngIf="!items || items.length === 0">
      <h2 style="text-align: center;">Your wishlist is empty</h2>
    </div>

  </div>

</div>
