<!--
    Title: Exercise 8.2 - Server-side Communications
    Instructor: Professor Krasso
    Author: Brooke Taylor
    Date: 7/11/23
    Revision: 5/23/25

    Description: About Component
-->

<div class="container">

  <h1 class="blue">About</h1>

  <mat-card>

    <div class="flex-item-left">
      <figure>
        <img src="./assets/reception.png" alt="Library Reception" />
      </figure>
    </div>

    <div class="flex-item-right">

      <p>This project was originally developed during a Web 425 Angular course as a hands-on introduction to Angular’s component architecture, service-based data handling, and client-side routing. The first version featured a basic display of static book data in a card layout.</p>

      Now updated to the latest version of Angular, this app includes:

      <ul>
        <li>A refreshed selection of books with updated details</li>
        <li>An improved user interface with enhanced styling and responsiveness</li>
        <li>A reimagined theme to match a more polished and immersive user experience</li>
      </ul>

      <p>The goal of this app was to demonstrate dynamic UI rendering, modular structure, and scalable design patterns — all with a touch of personality. Whether you’re browsing, dreaming, or just testing features, In-N-Out Books invites you into a space where reading, design, and code meet.</p>


    </div>

  </mat-card>

</div>
