/**
    Title: Exercise 3.2 - Passing Data to Routes, Part 1
    Instructor: Professor Krasso
    Author: Brooke Taylor
    Date: 7/11/2023
    Revision: 5/23/25

    Description: Book List Component Styles
*/

mat-card-title {
  padding: 1rem;
}

mat-card {
  color: white;
}

mat-card-content {
  display: flex;
  flex-direction: column;
}

mat-card-content {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.grid-item {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}

.book-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.book-cover img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
}

.flex-container {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  justify-content: center;
  margin-bottom: 2rem;
}


.flex-container {
  grid-template-columns: repeat(1, 1fr);
}


@media (min-width: 768px) {
  .flex-container {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (min-width: 992px) {
  .flex-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
