<!--
    Title: Exercise 8.2 - Server-side Communications
    Instructor: Professor Krasso
    Author: Brooke Taylor
    Date: 7/11/23
    Revision: 5/23/25

    Description: Book List Component
-->

<div class="main-scroll-container">
  <ng-container *ngIf="books.length === 0">
    <mat-spinner></mat-spinner>
  </ng-container>

  <h2 class="green">Brooke's Bookshelf, Top {{ books.length }}</h2>

  <div class="flex-container">

    <ng-container *ngFor="let book of books">

      <div class="grid-item">

        <mat-card>

            <mat-card-title>
              <a (click)="showBookDetails(book.isbn)">{{ book.title }}</a>
            </mat-card-title>

            <mat-card-content>

              <div class="book-cover">
                <img
                  [src]="book.coverUrl"
                  alt="{{ book.title }} cover"
                  (load)="onImageLoad($event)"
                />
              </div>

              <mat-list-item>Authors: <span class="blue">{{ book.authors }}</span></mat-list-item>

            </mat-card-content>

        </mat-card>

      </div>

    </ng-container>

  </div>

</div>

