<!--
    Title: Exercise 3.2 - Passing Data to Routes, Part 1
    Instructor: Professor Krasso
    Author: Brooke Taylor
    Date: 7/11/23
    Revision: 5/26/25

    Description: App HTML
-->

<mat-toolbar color="dark" class="toolbar">

  <div class="logo">
    <a routerLink="/book-list">
      <img src="./assets/In-N-Out-Logo.png" alt="In-N-Out Logo" height="60" />
    </a>
  </div>


  <span class="spacer"></span>

  <div class="nav-links" *ngIf="!isSmallScreen">
    <button mat-button routerLink="/book-list">Book List</button>
    <button mat-button routerLink="/wishlist">Wishlist</button>
    <button mat-button routerLink="/contact">Contact</button>
    <button mat-button routerLink="/about">About</button>
  </div>

  <div *ngIf="isSmallScreen">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/book-list">Book List</button>
      <button mat-menu-item routerLink="/wishlist">Wishlist</button>
      <button mat-menu-item routerLink="/contact">Contact</button>
      <button mat-menu-item routerLink="/about">About</button>
    </mat-menu>
  </div>

</mat-toolbar>



<!-- Using flex-layout create a new row and set the row to wrap -->
<div fxLayout="row wrap">

  <!-- Create another div and add the fxFlex directive -->
  <div fxFlex>

    <!-- Add a <mat-card> and give it a class of main-container -->
    <div class="main-container">

      <!-- Add a <mat-card-content> and put the <router-outlet> inside it -->
      <mat-card-content>

        <router-outlet></router-outlet>

      </mat-card-content>

    </div>

  </div>

</div>




