/**
    Title: Exercise 3.2 - Passing Data to Routes, Part 1
    Instructor: Professor Krasso
    Author: Brooke Taylor
    Date: 7/11/2023

    Description: App Component Styles
*/

// Set the top margin to 5px
.logo {
  margin-top: 5px;
}

// Set the top padding to 25px, width to 80%, center the div
.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}
