<!--
    Title: Exercise 8.2 - Server-side Communications
    Instructor: Professor Krasso
    Author: Brooke Taylor
    Date: 7/11/23
    Revision: 5/15/25

    Description: Wishlist Create Component
-->

    <figure>
      <img src="assets/open-library-logo.png" alt="Open Library Logo" />
    </figure>

<form fxLayout="row" fxLayoutGap="10px">
  <mat-form-field fxFlex>
    <input matInput placeholder="Search for a book..." [(ngModel)]="searchTerm" name="searchTerm" />
  </mat-form-field>
  <button mat-flat-button color="primary" type="button" (click)="searchBooks()" [disabled]="loading">Search</button>
</form>

<div *ngIf="results.length > 0" fxLayout="column" fxLayoutGap="10px" style="margin-top: 1rem;">


  <mat-card *ngFor="let result of results" style="width: 100%;">



    <img
      mat-card-image
      [src]="result.coverUrl"
      alt="{{ result.title }} cover"
      (error)="onImageError($event)"
      style="max-height: 350px; object-fit: cover;"
    />
  <mat-card-title>{{ result.title }}</mat-card-title>
  <mat-card-subtitle>{{ result.authors }}</mat-card-subtitle>
  <button mat-button color="accent" (click)="addToWishlist(result)">Add to Wishlist</button>
</mat-card>

</div>
