/**
    Title: Exercise 8.2 - Server-side Communications
    Instructor: Professor Krasso
    Author: Brooke Taylor
    Date: 7/11/23
    Revision: 5/15/25

    Description: Wishlist Create Form Styles
*/

/* Adding styles per YouTube video */
.wishlist-create-form {
  width: 60%;
}
