/**
    Title: Exercise 8.2 - Server-side Communications
    Instructor: Professor Krasso
    Author: Brooke Taylor
    Date: 7/11/23
    Revision: 5/15/25

    Description: Theme Styles
*/

@use '@angular/material' as mat;

// Define custom color palettes
$dark-primary: mat.m2-define-palette(mat.$m2-blue-palette);
$dark-accent: mat.m2-define-palette(mat.$m2-green-palette, 400);
$dark-warn: mat.m2-define-palette(mat.$m2-red-palette, 400);

// Create a dark theme configuration
$dark-theme: mat.m2-define-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn
  )
));

// Apply Angular Material component theming
@include mat.all-component-themes($dark-theme);
