<!--
    Title: Exercise 8.2 - Server-side Communications
    Instructor: Professor Krasso
    Author: Brooke Taylor
    Date: 7/11/23

    Description: Book Details Dialog Component
-->

<mat-card>

  <mat-card-title>
    {{ book.title }}
  </mat-card-title>

  <mat-card-content>
    <p *ngIf="copied" class="copied-message">Copied!</p>

    <p>
      ISBN:
        <span (click)="copyISBN()" class="copy-isbn">
          {{ book.isbn }}

          <img src="assets/copy.png" alt="Copy" class="copy-icon">
        </span>
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="accent" matDialogClose="confirm">OK</button>
  </mat-card-actions>


</mat-card>
